* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #FEFCFB;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover {
  transform: translate(2px, 2px)
}

.card {
  transition: 0.3s !important;
}

.scrollCards::-webkit-scrollbar {
  display: none;
}

.scrollCards {
  -ms-overflow-style: none;
  scrollbar-width: none;
}